/*html {
  --slider-border: 2px solid red;
}
*/
main {
	padding-top: 60px;
}



/*.wrapper {
    margin-left: auto;
    margin-right: auto;
} */

.container {
	  background: #eeeaef; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#eeeaef, #bdbcc6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eeeaef, #bdbcc6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eeeaef, #bdbcc6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eeeaef, #bdbcc6); /* Standard syntax */
    margin-left: 100px;
    padding-right: 20px;
    display: inline-block;
  	 
}


#value-number, .category {
	display: inline-block;
	margin-left: 10px;
}

.js-container__left {
    margin-left: 10px;
    margin-right: 20px;
}

.container__right, .js-container__left {
    display: inline-block;
}

.instructions {
    margin-top: 10px;
    font-style: italic;
    max-width: 230px;
}

#circle-1 {
	  position: relative;
    border: 2px solid red;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}



input[type="text"] {
    -moz-appearance: none;
    border: 1px solid grey;
    border-radius: 4px;
    color: #818181;
    display: block;
    font-size: 1em;
    height: 30px;
    padding:0 6px;
    transition: border 0s ease 0s, width 0.4s ease-in-out 0s;
    background-color: inherit;
    width: 25px;
    margin-bottom: 5px;
    
}

.range{
  float:left;
  width:30px;
}


